@use "./abstracts/colors";
@use "./abstracts/vars";


body{
    padding: map-get(vars.$vhCalc, "paddingOfBody");
    font-family: vars.$font-family;
    background: colors.$background;
    min-height: 100vh;
}